.container {
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
  background-color: #f3f1f1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(78, 158, 224);
  min-height: 200px;
}

.home {
  display: flex;
  justify-content: center;
  color: #ece6e6;
  border-bottom: 1px solid #8baff1;
  width: 800px;
  padding-bottom: 10px;
}
.about {
  display: flex;
  justify-content: center;
  color: #ece6e6;
  border-bottom: 1px solid #8baff1;
  width: 800px;
  padding-bottom: 10px;
}
.product {
  display: flex;
  justify-content: center;
  color: #ece6e6;
  border-bottom: 1px solid #8baff1;
  width: 800px;
  padding-bottom: 10px;
}
.contact {
  display: flex;
  justify-content: center;
  color: #ece6e6;
}
